= render 'search/search'

- unless @matches
  .error Failed to retrieve matches for #{@summoner_name}
- else
  %h1 Summoner #{@summoner_name}
  %div
    - @matches.each_with_index do |match, match_index|
      %div
        %h2 Match #{match_index + 1} - #{match[:champion_name]}
        - match[:comparisons].each do |comparison|
          %div.match
            %h3 #{comparison.pro_name}'s changes

            %section.difference
              = render partial: 'summary', locals: {rune_choices: comparison.quints, type: 'quints'}
              = render partial: 'summary', locals: {rune_choices: comparison.marks, type: 'marks'}
              = render partial: 'summary', locals: {rune_choices: comparison.glyphs, type: 'glyphs'}
              = render partial: 'summary', locals: {rune_choices: comparison.seals, type: 'seals'}
