Search results for <%= @summoner_name %>

<div>
  <% @matches.each_with_index do |match, index| %>
    <div>
      Match #<%= index %>: <%= match[:champion_name] %>
    </div>
    <% match[:comparisons].each do |comparison| %>
      <div>
        <%= comparison[:pro_name] %>
      </div>
      <div>
        <ul>
          <% comparison[:contrast].each do |contrast| %>
            <li>
              <%= contrast[:rune] %>
              <%= contrast[:difference] %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
