.container
  %h1 Lasagna
  %h2 Match 1
  %section.difference
    %h3 Difference
    .quints-summary
      - if @difference[:seals].empty?
        .flex-item.empty-state
          %i.fa.fa-arrows-h.fa-4x
      - @difference[:quints].each do |quint|
        %ul.summary-list
          %li.quints
            %span
              = quint.count
            %span
              = quint.name
    .marks-summary
      - if @difference[:seals].empty?
        .flex-item.empty-state
          %i.fa.fa-arrows-h.fa-4x
      - @difference[:marks].each do |mark|
        %ul.summary-list
          %li.marks
            %span
              = mark.count
            %span
              = mark.name
    .seals-summary
      - if @difference[:seals].empty?
        .flex-item.empty-state
          %i.fa.fa-arrows-h.fa-4x
      - @difference[:seals].each do |seal|
        %ul.summary-list
          %li.seals
            %span
              = seal.count
            %span
              = seal.name
    .glyphs-summary
      - if @difference[:seals].empty?
        .flex-item.empty-state
          %i.fa.fa-arrows-h.fa-4x
      - @difference[:glyphs].each do |glyph|
        %ul.summary-list
          %li.glyphs
            %span
              = glyph.count
            %span
              = glyph.name
  %section.user-runes
    %h3 Your stuff
    %ul.simple-list
      - @user_runes[:quints].each do |quint|
        %li.quints
          %span
            = quint.count
          %span
            = quint.name
      - @user_runes[:marks].each do |mark|
        %li.marks
          %span
            = mark.count
          %span
            = mark.name
      - @user_runes[:seals].each do |seal|
        %li.seals
          %span
            = seal.count
          %span
            = seal.name
      - @user_runes[:glyphs].each do |glyph|
        %li.glyphs
          %span
            = glyph.count
          %span
            = glyph.name
  %section.pro-runes
    %h3 Their stuff
    %ul.simple-list
      - @pro_runes[:quints].each do |quint|
        %li.quints
          %span
            = quint.count
          %span
            = quint.name
      - @pro_runes[:marks].each do |mark|
        %li.marks
          %span
            = mark.count
          %span
            = mark.name
      - @pro_runes[:seals].each do |seal|
        %li.seals
          %span
            = seal.count
          %span
            = seal.name
      - @pro_runes[:glyphs].each do |glyph|
        %li.glyphs
          %span
            = glyph.count
          %span
            = glyph.name
